#!/bin/bash

{% for extension in gnome_extensions %}
if ! gnome-extensions list | grep -q {{ extension }}; then
  wget -O /tmp/{{ extension }}.zip "https://extensions.gnome.org/extension-data/{{ extension }}.v42.shell-extension.zip"
  gnome-extensions install --force /tmp/{{ extension }}.zip
fi
{% endfor %}