/home/{{ username }}/.local/share/gnome-boxes
/home/{{ username }}/Downloads
/home/{{ username }}/Nextcloud
/home/{{ username }}/.var/app/com.google.AndroidStudio
/home/{{ username }}/.local/share/waydroid